:root {
    font-size: 62.5%;
    --h1-font-size: 2.8rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.8rem;
    --p-font-size: 1.6rem;
    --a-font-size: 1.4rem;
    --base-orange: #F2994A;

    --gap-block: 2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid salmon; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
h3 {
    font-size: var(--h3-font-size);
}
p {
    font-size: var(--p-font-size);
}
a {
    font-size: var(--a-font-size);
}

.main, .footer, .header {
    max-width: 1440px;
    min-width: 300px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.main__shipping {
    background-color:  #F2F2F2;
    flex: 0 1 30%;
}

.main__contact {
    flex: 0 1 50%;
}

.contact--form {
    margin: 0 auto;
    max-width: 100%;
    margin-block-start: var(--gap-block);
}

.form--group {
    display: grid;
}
.form__country-info {
    display: flex;
    justify-content: space-between;
}
.checkbox {
    grid-template-columns: 1fr, 1fr;
}

.form--group input {
    width: 100%;
    height: 4rem;
    color: #828282;
    border-radius: 5px;
    padding-inline-start: 10%;
    padding-inline-end: 0.3rem;
    padding-block: 0.3rem;
}

/* Igual o mayor que 767px */
@media (min-width: 767px) { 
    :root {
        font-size: 62.5%;
        --h1-font-size: 3.8rem;
        --h2-font-size: 3rem;
        --h3-font-size: 2.4rem;
        --p-font-size: 2rem;
        --a-font-size: 1.8rem;

    }
  }

  /* Igual o mayor que 991px */
@media (min-width: 991px) {
    :root {
        font-size: 62.5%;
        --h1-font-size: 4.8rem;
        --h2-font-size: 3.8rem;
        --h3-font-size: 2.8rem;
        --p-font-size: 2.4rem;
        --a-font-size: 2rem;

    }
  }

