:root {
    font-size: 62.5%;
    --h1-font-size: 2.8rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.8rem;
    --p-font-size: 1.6rem;
    --a-font-size: 1.4rem;
    --pxs-font-size: 1rem;
    --base-orange: #F2994A;

    --gap-block: 2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid salmon; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
h3 {
    font-size: var(--h3-font-size);
}
p {
    font-size: var(--p-font-size);
}
a {
    font-size: var(--a-font-size);
}
button {
    font-size: var(--p-font-size);
    font-weight: 600;
}
img {
    width: 100%;
    object-fit: contain;
}

.main, .footer, .header {
    max-width: 1440px;
    min-width: 300px;
    width: 90%;
    margin: 0 auto;
}

.main {
    height: 90vh;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main__shipping--wraper {
    flex: 0 0 35%;
}
.main__shipping {
    background-color:  #F2F2F2;
    padding: 2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.main__contact {
    flex: 0 0 55%;
}

.main__contact--shipping {
    display: flex;
    flex-direction: column;
}
.contact--form {
    max-width: 600px;
    margin-block-start: var(--gap-block);
    
}

.form--group {
    display: grid;
    position: relative;
    margin-block: 1rem;
}
.form-icon {
    position: absolute;
    bottom: 25%;
    left: 3.3rem;
    transform: translatex(-100%);
}

.form-icon {
    color: #828282;
}

.form__country-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
}
.checkbox {
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 0;
}
.checkbox input {
    flex: 0 1 0;
}

.form--group input {
    width: 100%;
    height: 4rem;
    color: #828282;
    border-radius: 5px;
    padding-inline-start: 3.5rem;
    padding-inline-end: 0.3rem;
    padding-block: 0.3rem;

    border: 1px solid #828282;
    border-radius: 0.5rem;

    margin-block: 1rem;
}

.main__contact--btn {
    background-color: #F2994A;
    color: white;
    align-self: flex-end;
    padding-inline: 2.5rem;
    padding-block: 1.2rem;
    border-radius: 0.5rem;
    border: none;
}

/* container item 1 */
.main__shipping--product {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    gap: 5%;
}
/* item 1 */
.img-container {
    border-radius: 1.5rem;
    overflow: hidden;
}
/* item 1 */
.product-info {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
.product-info p {
    font-size: var(--pxs-font-size);
}

.price p:first-child {
    color: #F2994A;
    font-size: var(--a-font-size);
}
.price p:last-child {
    text-decoration-line: line-through;
}

.price, .stock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    align-self: center;
    width: 100%;
}
.stock {
    border: 1px solid #828282;
    border-radius: 0.5rem;
    height: auto;
    padding: 0.5rem;
    /* padding-block: 1rem; */
    /* padding-inline: 1rem; */
}
.stock p:first-child,
.stock p:last-child {
    background-color: #BDBDBD;
    border-radius: 0.5rem;
    padding: 5%;
    text-align: center;
}

.shipping-total {
    /* border-top: 1px solid #BDBDBD; */
    margin-block-start: 1.5rem;
    margin-block-end: 0.5rem;

    display: flex;
    justify-content: space-between;
}

.footer__link {
    width: 100%;
    text-align: center;
}
.footer__link,
.footer__link a{
    color: #BDBDBD;
    font-size: var(--a-font-size);
}

/* Igual o menor a 768px */
@media (max-width: 759px) {
    .main__item {
        flex-basis: 100%;
    }
}
/* Igual o mayor que 767px */
@media (min-width: 760px) { 
    :root {
        font-size: 62.5%;
        --h1-font-size: 3.8rem;
        --h2-font-size: 3rem;
        --h3-font-size: 2.4rem;
        --p-font-size: 2rem;
        --a-font-size: 1.8rem;
        --pxs-font-size: 1rem;
    }
}
  /* Igual o mayor que 991px */
@media (min-width: 991px) {
    :root {
        font-size: 62.5%;
        --h1-font-size: 4.8rem;
        --h2-font-size: 3.8rem;
        --h3-font-size: 2.8rem;
        --p-font-size: 2.4rem;
        --a-font-size: 2rem;
        --pxs-font-size: 1rem;
    }
}

