:root {
    font-size: 62.5%;
    --h1-font-size: 2.8rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.8rem;
    --p-font-size: 1.6rem;
    --a-font-size: 1.4rem;
    --base-orange: #F2994A;

    --gap-block: 2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid salmon; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
h3 {
    font-size: var(--h3-font-size);
}
p {
    font-size: var(--p-font-size);
}
a {
    font-size: var(--a-font-size);
}
button {
    font-size: var(--p-font-size);
    font-weight: 600;
}
img {
    width: 100%;
}

.main, .footer, .header {
    max-width: 1440px;
    min-width: 300px;
    width: 90%;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.main__contact--shipping {
    display: flex;
    flex-direction: column;
}

.main__shipping {
    /* border: solid 1px red; */
    background-color:  #F2F2F2;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 90%;
    padding: 2rem;
    border-radius: 1.5rem;
    height: max-content;
}

.main__contact {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 90%;
}

.contact--form {
    max-width: 600px;
    margin-block-start: var(--gap-block);
    
}

.form--group {
    display: grid;
    position: relative;
    margin-block: 1rem;
}
.form-icon {
    position: absolute;
    bottom: 25%;
    left: 3.3rem;
    transform: translatex(-100%);
}

.form-icon {
    color: #828282;
}

.form__country-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
}
.checkbox {
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 0;
}
.checkbox input {
    flex: 0 1 0;
}

.form--group input {
    width: 100%;
    height: 4rem;
    color: #828282;
    border-radius: 5px;
    padding-inline-start: 3.5rem;
    padding-inline-end: 0.3rem;
    padding-block: 0.3rem;

    border: 1px solid #828282;
    border-radius: 0.5rem;

    margin-block: 1rem;
}

.main__contact--btn {
    background-color: #F2994A;
    color: white;
    align-self: flex-end;
    padding-inline: 2.5rem;
    padding-block: 1.2rem;
    border-radius: 0.5rem;
    border: none;
}

.main__shipping--product {
    border: 1px solid yellow;
    display: flex;
    gap: 5%;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
}
.img-container {
    flex: 1 1 40%;
    aspect-ratio: 1 / 1;
    /* 
    
    */
}
.product-info {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column; 
      
}
.price, .stock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock {
    border: 1px solid black;
    border-radius: 0.5rem;

}

/* Igual o mayor que 700px */
@media (min-width: 759px) { 
    .main__shipping {
        flex-basis: 35%;
        flex-grow: 0;
    }
    .main__contact {
        flex-basis: 50%
    }
    .main, .footer, .header {
        width: 90%;
    }
}

/* 
.main__shipping {
    background-color:  #F2F2F2;
    max-width: 500px; 
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 90%;
}

.main__contact {
    max-width: 500px; 
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 90%;
}
*/

/* Igual o mayor que 767px */
@media (min-width: 760px) { 
    :root {
        font-size: 62.5%;
        --h1-font-size: 3.8rem;
        --h2-font-size: 3rem;
        --h3-font-size: 2.4rem;
        --p-font-size: 2rem;
        --a-font-size: 1.8rem;
    }
    /* .form--group input {
        padding-inline-start: 8%;
    } */
}

  /* Igual o mayor que 991px */
@media (min-width: 991px) {
    :root {
        font-size: 62.5%;
        --h1-font-size: 4.8rem;
        --h2-font-size: 3.8rem;
        --h3-font-size: 2.8rem;
        --p-font-size: 2.4rem;
        --a-font-size: 2rem;

    }
}

